<h3>Name : <%= @trainer.name %></h3>
<img src = "<%= @trainer.img_url %>" >
<h3>Level : <%= @trainer.level %> </h3>
<h3>Pokemon : </h3>

<ul>
<% @trainer.pokemons.each do |poke| %>
<li> <a href="/pokemon/<%= poke.id %>"><%= poke.name %></a></li>
<% end %>
</ul>
